In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
data=pd.read_csv("data.csv")

In [3]:
data=data.drop(['index','price','sq_price'],axis=1)
data=data[:10]

In [4]:
#adding labels y1 as binary favorable label
data.loc[:,('y1')]=[1,1,1,0,0,1,0,1,1,1]
#negation of y1
data.loc[:,('y2')]= (data['y1']==0).astype(int)
data

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [5]:
# prepare data for tensorflow(tensors)
#tensors are generic vectors and matrices
inputx=data.loc[:,["area", "bathrooms"]].values
inputy=data.loc[:,["y1", "y2"]].values
print(inputx,inputy)

[[2.104e+03 3.000e+00]
 [1.600e+03 3.000e+00]
 [2.400e+03 3.000e+00]
 [1.416e+03 2.000e+00]
 [3.000e+03 4.000e+00]
 [1.985e+03 4.000e+00]
 [1.534e+03 3.000e+00]
 [1.427e+03 3.000e+00]
 [1.380e+03 3.000e+00]
 [1.494e+03 3.000e+00]] [[1 0]
 [1 0]
 [1 0]
 [0 1]
 [0 1]
 [1 0]
 [0 1]
 [1 0]
 [1 0]
 [1 0]]

In [6]:
#writing out hyperparameters
#learning rate defines how fast we reach convergence i.e how much the weights hsould be changed each time
learning_rate=0.000001 
#training epochs is no of times we train, it is variable
training_epoch=2000
#display_step is no of times we display the computation
display_step=50
n_samples=inputy.size
print(n_samples)

20

In [7]:
#create the neural network
#placeholders are where we provide the input
x=tf.placeholder(tf.float32,[None,2])
W=tf.Variable(tf.zeros([2,2]))
b=tf.Variable(tf.zeros([2]))
y_values=tf.add(tf.matmul(x,W),b)
y=tf.nn.softmax(y_values)
y_=tf.placeholder(tf.float32,[None,2])

In [8]:
cost=tf.reduce_sum(tf.pow(y_-y,2))/(2*n_samples)
optimizer= tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [9]:
init=tf.initialize_all_variables()
sess=tf.Session()
sess.run(init)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/util/tf_should_use.py:189: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [10]:
for i in range(100000):
    sess.run(optimizer, feed_dict={x: inputx, y_: inputy})
    #print(cost.eval())
    if i%(display_step*100)==0:
        c=sess.run(cost, feed_dict={x: inputx, y_: inputy})
        print("Step {} cost={:.9f}".format(i,c))

Step 0 cost=0.114958666
Step 5000 cost=0.109533191
Step 10000 cost=0.109526359
Step 15000 cost=0.109519541
Step 20000 cost=0.109512724
Step 25000 cost=0.109505907
Step 30000 cost=0.109499097
Step 35000 cost=0.109492265
Step 40000 cost=0.109485462
Step 45000 cost=0.109478667
Step 50000 cost=0.109471872
Step 55000 cost=0.109465063
Step 60000 cost=0.109458268
Step 65000 cost=0.109451465
Step 70000 cost=0.109444670
Step 75000 cost=0.109437883
Step 80000 cost=0.109431081
Step 85000 cost=0.109424286
Step 90000 cost=0.109417491
Step 95000 cost=0.109410703

In [11]:
sess.run(y, feed_dict={x:inputx})

array([[0.7102082 , 0.28979188],
       [0.66498816, 0.33501187],
       [0.7350103 , 0.26498973],
       [0.6464718 , 0.35352817],
       [0.78180516, 0.21819486],
       [0.7009249 , 0.2990751 ],
       [0.65881085, 0.34118912],
       [0.6486814 , 0.35131857],
       [0.64418864, 0.3558113 ],
       [0.6550405 , 0.34495947]], dtype=float32)

In [83]:
c=sess.run(optimizer, feed_dict={x: inputx, y_: inputy})

In [84]:
type(c)

NoneType

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df

    index    area  bathrooms     price    sq_price
0       0  2104.0        3.0  399900.0  190.066540
1       1  1600.0        3.0  329900.0  206.187500
2       2  2400.0        3.0  369000.0  153.750000
3       3  1416.0        2.0  232000.0  163.841808
4       4  3000.0        4.0  539900.0  179.966667
5       5  1985.0        4.0  299900.0  151.083123
6       6  1534.0        3.0  314900.0  205.280313
7       7  1427.0        3.0  198999.0  139.452698
8       8  1380.0        3.0  212000.0  153.623188
9       9  1494.0        3.0  242500.0  162.315930
10     10  1940.0        4.0  239999.0  123.710825
11     11  2000.0        3.0  347000.0  173.500000
12     12  1890.0        3.0  329999.0  174.602646
13     13  4478.0        5.0  699900.0  156.297454
14     14  1268.0        3.0  259900.0  204.968454
15     15  2300.0        4.0  449900.0  195.608696
16     16  1320.0        2.0  299900.0  227.196970
17     17  1236.0        3.0  199900.0  161.731392
18     18  2609.0        4.0  499998.0  191.643542
19     19  3031.0        4.0  599000.0  197.624546
20     20  1767.0        3.0  252900.0  143.123939
21     21  1888.0        2.0  255000.0  135.063559
22     22  1604.0        3.0  242900.0  151.433915
23     23  1962.0        4.0  259900.0  132.466871
24     24  3890.0        3.0  573900.0  147.532134
25     25  1100.0        3.0  249900.0  227.181818
26     26  1458.0        3.0  464500.0  318.587106
27     27  2526.0        3.0  469000.0  185.669042
28     28  2200.0        3.0  475000.0  215.909091
29     29  2637.0        3.0  299900.0  113.727721
30     30  1839.0        2.0  349900.0  190.266449
31     31  1000.0        1.0  169900.0  169.900000
32     32  2040.0        4.0  314900.0  154.362745
33     33  3137.0        3.0  579900.0  184.858145
34     34  1811.0        4.0  285900.0  157.868581
35     35  1437.0        3.0  249900.0  173.903967
36     36  1239.0        3.0  229900.0  185.552865
37     37  2132.0        4.0  345000.0  161.819887
38     38  4215.0        4.0  549000.0  130.249110
39     39  2162.0        4.0  287000.0  132.747456
40     40  1664.0        2.0  368500.0  221.454327
41     41  2238.0        3.0  329900.0  147.408400
42     42  2567.0        4.0  314000.0  122.321776
43     43  1200.0        3.0  299000.0  249.166667
44     44   852.0        2.0  179900.0  211.150235
45     45  1852.0        4.0  299900.0  161.933045
46     46  1203.0        3.0  239500.0  199.085619